:root {
    --clr-primary: hsl(300, 43%, 22%);
    --clr-secondary: hsl(333, 80%, 70%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-text-dark: hsl(300, 10%, 36%);
    --clr-star-bg: hsl(300, 24%, 96%); 
}